@{
    ViewBag.Title = "Confirma Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar o teu email. Por favor @Html.ActionLink("Fai click aqui para Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
