@{
    ViewBag.Title = "Confirmacion de password olvidado";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor comproba o teu email para comprobar o teu password.
    </p>
</div>
	
