@{
    ViewBag.Title = "Confirmacion de reseteo de password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        O teu password foi reseteado. Por favor @Html.ActionLink("fai click aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
