@{
    ViewBag.Title = "Web principal";
}

<div class="jumbotron">
    <h1>IES de TEIS</h1>
    <p class="lead">O IES de Teis... Esta maxestuosa institucion e un instituto no que podes alcanzar grandes metas para crear excelentes programas e sitios web aprendendo a utilizar HTML, CSS, e outras linguaxes de programacion. Matriculate. Esperamoste cos brazos abertos e as personas semientornadas</p>
    <p><a href="http://www.edu.xunta.gal/centros/iesteis/" class="btn btn-primary btn-lg">Aprende mais &raquo;</a></p>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicatores do carousel -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper para imaxes estilo diapositiva -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Imaxes/diapositiva1.jpg" alt="Aqui aprendemos">
            <div class="carousel-caption">
                <span>Aqui aprendemos!</span>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Imaxes/diapositiva2.png" alt="Nunca pares de aprender">
            <div class="carousel-caption">
                <span>Nunca pares de aprender</span>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Imaxes/diapositiva3.jpg" alt="Ganamos tod@s">
            <div class="carousel-caption">
                <span>Ganamos tod@s</span>
            </div>
        </div>
    </div>

    <!-- Controles do carousel -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cursos</h2>
        <p>
            Cursos ós que podes apuntarte e a nosa oferta educativa, basada en crear o millor contido, sitios dinamicos, con  control absoluto para unha matriculacion axil e disfrutable.
        </p>
        <p>@Html.ActionLink("Mais informacion","Index", "Cursos", new {@class="btn btn-primary"})</p>
    </div>
    <div class="col-md-6">
        <h2>Estudiantes</h2>
        <p>Obten a millor educacion queridx estudiante. Aqui podes ver quenes estaran contigo nesta aventura do saber na nosa santa institucion</p>
        <p>@Html.ActionLink("Todxs xs estudiantes", "Index", "Estudiantes", new {@class="btn btn-info"})</p>
    </div>
</div>